h1 { 
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: larger;
}

body {
    background-color: white;
    color: black;
}

a {
    text-align: right;
    font-size: medium;
}

.img-style1 {
    width: 77%;
    float: left;
}

body img {
    width: 18%;
    float: right;
}

h2 {
    color: black;
    text-align: left;
    font-size: large;
    font-weight: bold;
}

h3 {
    border: 15;
    color: black;
    float: center;
    text-align: left;
    font-weight: bold;
}

p {
    color: black;
    width: 78%;
}

.footer {
    color: white;
    background-color: black;
    width: 78%;
}