head { 
    color: white;
    background-color: red;
}

body {
    background-color: white;
    color: black;
}

a {
    text-align: right;
}

.img-style1 {
    width: 75%;
    text-align: left;
}

body img {
    width: 20%;
    text-align: right;
}

h1 {
    color: black;
    text-align: left;
}

h2 {
    color: black;
    text-align: right;
}

p {
    color: black;
}

.footer {
    color: white;
    background-color: black;
}