/* Add a black background color to the top navigation */
.topnav {
    background-color: #B1080F;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.topnav a.right {
	float:right;
}


.bottomnav {
    background-color: #3B3B3B;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.bottomnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.bottomnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.bottomnav a.active {
    background-color: #4CAF50;
    color: white;
}

/*border*/
.body {
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

/* Headers */
h1 {
	font-size: 22px;
	font-weight: bold;
}
h1.images {
	margin-top: 20px;
}